default_language_version:
  python: python3

repos:

  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
        name: "yapf"
        args: [--style=google, --recursive, --in-place]
